<h3>CountryForm</h3>

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>@Localizer["Country"]:</label>
        <div class="col-4">
            <RadzenTextBox class="form-control" @bind-Value="@Country.Name" MaxLength="100" />
            <ValidationMessage For="@(() => Country.Name)" />
        </div>
    </div>

    <RadzenButton Text="@Localizer["SaveChanges"]" ButtonType="ButtonType.Submit" Icon="add"></RadzenButton>
    <RadzenButton Text="@Localizer["Return"]" Click="ReturnAction" ButtonStyle="ButtonStyle.Success"></RadzenButton>
</EditForm>
