@page "/countries"


<h3>@Localizer["Countries"]</h3>

@if (Countries is null)
{
    <p>Loading...</p>
}
else
{

    <div class="mb-2">
        <RadzenButton Text="@Localizer["New"]" Icon="add" Click="CreateNew"></RadzenButton>
    </div>
    <GenericList MyList="Countries">
        <Body>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th align="center">@Localizer["Country"]</th>
                        <th># @Localizer["Teams"]</th>
                        <th>Actions</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var country in Countries)
                    {
                        <tr>
                            <td align="center">@country.Name</td>
                            <td>@country.TeamsCount</td>
                            <td>
                                <RadzenButton 
                                    ButtonStyle="ButtonStyle.Warning" Icon="edit_square"
                                    Click="() => EditRecord(country.Id)">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete_forever" 
                                    Click="@(()=>DeleteAsync(country))"
                                />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </Body>
    </GenericList>   
}


